/* ImageGallery.css */

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.image-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    border-radius: 5px;
}

.image-item img {
    width: 100%;
    height: auto;
    transition: transform 0.2s;
}

.image-item:hover img {
    transform: scale(1.05);
}

.image-item p {
    margin-top: 5px;
    font-size: 14px;
    color: #333;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    z-index: 1000;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

/* Category Styles */
.shirtStyle img {
    border: 5px solid red;
}

.pantsStyle img {
    border: 5px solid green;
}

.sweaterStyle img {
    border: 5px solid orange;
}

.defaultStyle img {
    border: 5px solid gray; /* Default style if category is unknown or not specified */
}
